<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity:  "sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin: "anonymous" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity: "sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin: "anonymous" %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
      }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "Welcome", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= current_page?(posts_path) ? 'active' : '' %> ">
            <%= link_to "Posts", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= current_page?(new_post_path) ? 'active' : '' %> ">
            <%= link_to "New post", new_post_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav my-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <img src="<%= current_user.image %>" width="45px" height="45px">
							Hi <%= current_user[:name] || current_user[:email] %>
						</li>
            <li class="nav-item">
							<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
						</li>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
						<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
          <% end %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <% if notice %>
          <div class="alert alert-success" role="notice">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </main><!-- /.container -->
  </body>
</html>
